body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://joseatel.pro/images/404.gif') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-panel, .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
    padding: 1em;
}

h1 {
    font-size: 2.75em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.25em;
    margin: 0.5em 0;
    color: yellow;
}

/* Mobile Styles */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-panel {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .left-panel {
        display: none;
    }
}
