@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
html{font-size:1rem;background-color:var(--primary-bg-color);scroll-behavior: smooth;}
html, body{margin: 0;padding: 0;}
body{margin: 0 auto;min-width:16.25rem!Important;max-width:100%;font-family: verdana, geneva,ans-serif;}
header, nav,article, aside, section, footer {margin: 0;padding: 0;}
img {width: 100%;height: auto;margin: 0 0 -0.23em 0;}
p, h1, h2, h3, h4, h5, h6{margin: 0;padding: 0;}