figure.code-example {
    background-color: #2d2d2d;
    color: #abb2bf;
    border: 1px solid #abb2bf;
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    line-height: 1.5;
    
}

figure.code-example pre {
    margin: 0;
    word-wrap: break-word; /* Para hacer que las palabras largas se rompan */
    white-space: normal; /* Permite que el texto se ajuste automáticamente */
}

figure.code-example pre code {
    position: relative;
}

/* Estilos para cuerpo */
figure.code-example pre code.selector {
    color: #e06c75; /* Color para el cuerpo ('body') */
}

/* Estilos para propiedades */
figure.code-example pre code.property {
    color: #d19a66; /* Color para propiedades ('margin', 'font-family', etc.) */
}

/* Estilos para valores */
figure.code-example pre code.value {
    color: #98c379; /* Color para valores (como '0', 'Arial', '1fr', etc.) */
}

/* Estilos para atributos */
figure.code-example pre code.attribute {
    color: #56b6c2; /* Color para atributos ('display', 'grid-template-areas', etc.) */
}

/* Estilos para comentarios */
figure.code-example pre code.comment {
    color: #5c6370;
    font-style: italic; /* Color e itálica para comentarios */
}

/* Estilos para cadenas */
figure.code-example pre code.string {
    color: #98c379; /* Color para cadenas (como 'Arial, sans-serif', 'auto', etc.) */
}