/* IMPORT - NOT USE ONLINE */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet');
/* BASIC RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-bg-color: #000d1a;
    --secundary-bg-color: #000911;
    --shadow-bg-color: #011b31;
    --border-top: #000000;
    --border-bottom: #002144;
    --color:#f2f2f2;
    --hover-color: #5CCFAB !important;
    --submenu-bg-color: #374049;
    --submenu-border-top: #454c55;
    --submenu-border-bottom: #30373e;
    --active-color: #b7f110;
    --visited-color: #639afd;
    --facebookad-bg-color: #4a6eab !important;
    --feedback-input-color: #3c3c3c;
    --border-color: #3498db;
    --another-bg-color: #3a3d42;
    --yet-another-bg-color: #FEC65B;
    --accent-color: #e3ae57;
    --visited-link-color: #639afd;
    --another-color: #00CC33;
    --another-background: #e13031;
    --yet-another-background: #293949;
  }
/** BASIC CSS **/
  html{font-size:1rem;background-color:var(--primary-bg-color);scroll-behavior: smooth;}
  html, body{margin: 0;padding: 0;}
  body{margin: 0 auto;min-width:16.25rem!Important;max-width:100%;font-family: verdana, geneva,ans-serif;}
  header, nav,article, aside, section, footer {margin: 0;padding: 0;}
  img {width: 100%;height: auto;margin: 0 0 -0.23em 0;}
  p, h1, h2, h3, h4, h5, h6{margin: 0;padding: 0;}
/** END BASIC CSS **/

body {
    background-color: var(--primary-bg-color);
    color: var(--color);
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    gap: 0;
    height: 100vh;
    margin: 0;
    
}

#header {
    grid-area: header;
    text-align: center;
}

#main {
    grid-area: main;
    padding: 1em;
    border-top: 1px solid var(--border-bottom);
    border-bottom: 1px solid var(--border-top);
    border-right: 1px solid var(--border-top);
}

#aside {
    box-sizing: border-box;
    grid-area: aside;
    border-top: 1px solid var(--border-bottom);
    border-bottom: 1px solid var(--border-top);
    border-left: 1px solid var(--border-bottom);
}

/** ASIDE ***/

aside {
    position: relative; /* Necesario para posicionar el pseudoelemento */
    padding-left: 10px; /* Relleno dentro del aside para separar contenido de los bordes */
}
/** END ASIDE **/

section {
    box-sizing: border-box;
}

#footer {
    grid-area: footer;
    background-color: var(--secundary-bg-color);
    border-top: 1px solid var(--border-bottom);
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 10px 90px var(--shadow-bg-color);
}

p {
    padding: 1em;
}

/** LOGO **/

/* Estilos para el contenedor del logo y el menú */
#logo {
    padding: 5em;
    text-align: center;
    position: relative; /* Posición relativa para alinear elementos hijos */
}

/* Estilos para el título (logo) */
#logo::before {
    font-family: 'Pacifico', cursive;
    content: attr(data-logo); /* Mostrar el contenido del atributo data-logo */
    color: var(--color); /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    display: block; /* Mostrar como bloque */
}

/** END LOGO **/

/** NAV **/
nav {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.nav {
    overflow: hidden;
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1rem 0 0 0;
}
nav a {
    float: left;
    display: block;
    color:var(--color);
    text-align: center;
    padding: 1.25rem;
    text-decoration: none;
    font-size: 1.15em;
    font-family: 'Inconsolata', monospace;
    margin-left: 0.5rem;
}
/** END NAV **/

/** HEADING **/

h1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    font-size: 2.25rem;
    padding:1rem;
    font-family: 'Inconsolata', monospace;
}
h2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    font-size: 1.75rem;
    padding:1rem;
    font-family: 'Inconsolata', monospace;
}

h5 {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    font-size: 1.25rem;
    padding:1rem;
    font-family: 'Inconsolata', monospace;
}

/** END HEADING **/

hr {
    border-top: 1px solid var(--border-top); 
    border-bottom: 1px solid var(--border-bottom);
    border-left: transparent;
    border-right: transparent;
    width: 100%;
}

/** CLASS **/
.active {
    border-bottom: 5px solid var(--color);
}

.inactive {
    border-bottom: 5px solid var(--border-bottom);
}

.inactive:hover {
    border-bottom: 5px solid var(--active-color);
    transition:all 3s;
}
/** END CLASS **/
/** TASK STYLE **/
#notification {
    color: white;
    border-radius: 10px;
}

#task2 {
    background: white;
    color: #39c;
    border-radius: 10px;
}

#task3 {
    background: #39c;
    color: white;
}
/** END TASK STYLE **/


/** NEW CSS **/

header {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    background-color: var(--secundary-bg-color);
    border-bottom: 1px solid var(--border-top);
    border-radius: 0.25em;
}

/** END NEW CSS **/

/** MODAL START **/

/** END MODAL START **/


/* Media Query for screens wider than 800px */
@media (min-width: 800px) {
    body {
        grid-template-areas:
            "header header"
            "main aside"
            "footer footer";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr auto;
    }

}
@media (max-width: 800px) {
#aside {
    box-sizing: border-box;
    grid-area: aside;
    border-top: 1px solid var(--border-bottom);
    border-bottom: 1px solid var(--border-top);
    border-left: 0px solid transparent;
    }
}