body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f0f0f0; /* Color de fondo por defecto */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    max-width: 90%;
    max-height: 80vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    color: #333;
    margin-top: 20px;
}

.dark-mode {
    background-color: #333; /* Color de fondo en modo oscuro */
    color: #fff;
}

.dark-mode .container {
    background-color: #444; /* Color de fondo del contenedor en modo oscuro */
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark-mode h1 {
    color: #fff;
}

.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toggle-switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.dark-mode .toggle-switch {
    background-color: #333;
}

.dark-mode .toggle-switch::before {
    transform: translateX(26px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .toggle-switch {
        width: 50px;
        height: 28px;
    }

    .toggle-switch::before {
        width: 24px;
        height: 24px;
    }
}
